<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head>
  <title>Spring Security Example </title>
</head>

<body>
  <form th:action="@{/sign_up}" method="post" th:object="${user}">
    <div>
      <label> 
        Name : <input type="text" name="name" th:value="${user.name}" /> 
      </label>
    </div>
    <div>
      <label> 
        Email : <input type="text" name="mail" th:value="${user.mail}" /> 
      </label>
    </div>
    <div>
      <label>
        Password : <input type="password" name="password" th:value="${user.pass}" /> 
      </label>
    </div>
    <div>
      <input type="submit" value="Sign Up" />
    </div>
  </form>
</body>

</html>